<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="flex-container">
        <div class="wrapper-column"> 
          <div class="wrapper">
            {{ content }}
          </div>
        </div>
        <div class="nav-column">
          {% include navigation.html %}
        </div>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>